step_function.json
{
  "Comment": "Create Cluster, Register TD1, Run Task1, Register TD2, Run Task2, Cleanup (Hardcoded Example)",
  "StartAt": "CreateCluster",
  "States": {
    "CreateCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:createCluster",
      "Parameters": {
        "ClusterName": "ecs-ephemeral-cluster-123456"
      },
      "ResultPath": "$.clusterInfo",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyGeneralFailure",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "RegisterTaskDefinition1"
    },
    "RegisterTaskDefinition1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:registerTaskDefinition",
      "Parameters": {
        "Family": "ecs-pipeline-clean-task-123456",
        "RequiresCompatibilities": [
          "FARGATE"
        ],
        "NetworkMode": "awsvpc",
        "Cpu": "1024",
        "Memory": "2048",
        "ExecutionRoleArn": "arn:aws:iam::405894843300:role/ECS-Execution-Role",
        "TaskRoleArn": "arn:aws:iam::405894843300:role/ECS-Task-Role",
        "ContainerDefinitions": [
          {
            "Name": "task1",
            "Image": "405894843300.dkr.ecr.eu-west-1.amazonaws.com/ecs-project-repo:clean-task",
            "Essential": true,
            "LogConfiguration": {
              "LogDriver": "awslogs",
              "Options": {
                "awslogs-group": "/ecs/ephemeral-tasks",
                "awslogs-region": "eu-west-1",
                "awslogs-stream-prefix": "ecs"
              }
            }
          }
        ]
      },
      "ResultPath": "$.taskDefinitionInfoTask1",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DeleteCluster",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "RunTask1"
    },
    "RunTask1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-1:405894843300:cluster/ecs-ephemeral-cluster-123456",
        "TaskDefinition": "arn:aws:ecs:eu-west-1:405894843300:task-definition/ecs-pipeline-clean-task-123456:1",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0716be2d6750527e2",
              "subnet-0f1526aaff9aec36e"
            ],
            "SecurityGroups": [
              "sg-05d6900c1579c95e2"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "task1",
              "Environment": [
                {
                  "Name": "LANDING_S3_BUCKET_URI",
                  "Value": "s3a://pipeline-land-bucket-125/land-folder/e-commerce-data/"
                },
                {
                  "Name": "CLEANED_S3_BUCKET_URI",
                  "Value": "s3a://ecs-output-bucket/cleaned_folder/output/"
                },
                {
                  "Name": "AWS_REGION",
                  "Value": "eu-west-1"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": "$.task1Result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DeregisterTaskDefinition1",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "ExtractTask1Status"
    },
    "ExtractTask1Status": {
      "Type": "Pass",
      "Parameters": {
        "task1Success": true
      },
      "ResultPath": "$.task1Status",
      "Next": "RegisterTaskDefinition2"
    },
    "RegisterTaskDefinition2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:registerTaskDefinition",
      "Parameters": {
        "Family": "ecs-pipeline-kpis-task-123456",
        "RequiresCompatibilities": [
          "FARGATE"
        ],
        "NetworkMode": "awsvpc",
        "Cpu": "1024",
        "Memory": "2048",
        "ExecutionRoleArn": "arn:aws:iam::405894843300:role/ECS-Execution-Role",
        "TaskRoleArn": "arn:aws:iam::405894843300:role/ECS-Task-Role",
        "ContainerDefinitions": [
          {
            "Name": "task2",
            "Image": "405894843300.dkr.ecr.eu-west-1.amazonaws.com/ecs-project-repo:kpi-task",
            "Essential": true,
            "LogConfiguration": {
              "LogDriver": "awslogs",
              "Options": {
                "awslogs-group": "/ecs/ephemeral-tasks",
                "awslogs-region": "eu-west-1",
                "awslogs-stream-prefix": "ecs"
              }
            }
          }
        ]
      },
      "ResultPath": "$.taskDefinitionInfoTask2",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "DeregisterTaskDefinition1",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "RunTask2"
    },
    "RunTask2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-west-1:405894843300:cluster/ecs-ephemeral-cluster-123456",
        "TaskDefinition": "arn:aws:ecs:eu-west-1:405894843300:task-definition/ecs-pipeline-kpis-task-123456:1",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0716be2d6750527e2",
              "subnet-0f1526aaff9aec36e"
            ],
            "SecurityGroups": [
              "sg-05d6900c1579c95e2"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "task2",
              "Environment": [
                {
                  "Name": "CLEANED_S3_BUCKET_URI",
                  "Value": "s3a://ecs-output-bucket/cleaned_folder/output/"
                },
                {
                  "Name": "CATEGORY_KPI_DYNAMODB_TABLE",
                  "Value": "category_kpi_table"
                },
                {
                  "Name": "ORDER_KPI_DYNAMODB_TABLE",
                  "Value": "order_kpi_table"
                },
                {
                  "Name": "AWS_REGION",
                  "Value": "eu-west-1"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": "$.task2Result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CleanupBothTaskDefinitions",
          "ResultPath": "$.errorInfo"
        }
      ],
      "Next": "ExtractTask2Status"
    },
    "ExtractTask2Status": {
      "Type": "Pass",
      "Parameters": {
        "task2Success": true
      },
      "ResultPath": "$.task2Status",
      "Next": "CleanupBothTaskDefinitions"
    },
    "CleanupBothTaskDefinitions": {
      "Type": "Parallel",
      "Comment": "Deregister TD1 and TD2 in parallel after full success",
      "Branches": [
        {
          "StartAt": "DeregisterTaskDefinition1Success",
          "States": {
            "DeregisterTaskDefinition1Success": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ecs:deregisterTaskDefinition",
              "Parameters": {
                "TaskDefinition": "arn:aws:ecs:eu-west-1:405894843300:task-definition/ecs-pipeline-clean-task-123456:1"
              },
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Ignore Error",
                  "ResultPath": "$.td1CleanupError",
                  "Next": "CleanupBranchPass1"
                }
              ],
              "Next": "CleanupBranchPass1"
            },
            "CleanupBranchPass1": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "DeregisterTaskDefinition2Success",
          "States": {
            "DeregisterTaskDefinition2Success": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ecs:deregisterTaskDefinition",
              "Parameters": {
                "TaskDefinition": "arn:aws:ecs:eu-west-1:405894843300:task-definition/ecs-pipeline-kpis-task-123456:1"
              },
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Comment": "Ignore Error",
                  "ResultPath": "$.td2CleanupError",
                  "Next": "CleanupBranchPass2"
                }
              ],
              "Next": "CleanupBranchPass2"
            },
            "CleanupBranchPass2": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "Next": "DeleteCluster"
    },
    "DeleteCluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:deleteCluster",
      "Parameters": {
        "Cluster": "arn:aws:ecs:eu-west-1:405894843300:cluster/ecs-ephemeral-cluster-123456"
      },
      "ResultPath": "$.clusterDeleteResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyCleanupFailure",
          "ResultPath": "$.clusterDeleteError"
        }
      ],
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-west-1:405894843300:etl",
        "Subject": "Step Function SUCCESS",
        "Message": "ECS ephemeral workflow completed successfully.\nExecution Name: ecs-pipeline-execution-123456"
      },
      "End": true
    },
    "DeregisterTaskDefinition1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:deregisterTaskDefinition",
      "Parameters": {
        "TaskDefinition": "arn:aws:ecs:eu-west-1:405894843300:task-definition/ecs-pipeline-clean-task-123456:1"
      },
      "ResultPath": "$.td1DeregisterResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Ignore Error",
          "ResultPath": "$.td1DeregisterError",
          "Next": "DeleteCluster"
        }
      ],
      "Next": "DeleteCluster"
    },
    "NotifyGeneralFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-west-1:405894843300:etl",
        "Subject": "Step Function FAILURE: ecs-pipeline-execution-123456",
        "Message": "Execution failed!\nName: ecs-pipeline-execution-123456\nError: SomeErrorType\nCause: Error details would be here"
      },
      "Next": "WorkflowFailed"
    },
    "NotifyCleanupFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-west-1:405894843300:etl",
        "Subject": "Cleanup Failure",
        "Message": "Failed to cleanup resources for execution: ecs-pipeline-execution-123456\nError details available in execution history"
      },
      "End": true
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "Workflow failed",
      "Error": "WorkflowExecutionFailed"
    }
  }
}